/* Maq */
html {
    font-size: 62.5%;

}
body {
    font-size: 2rem;
    background-color: #FDF8FB;

}
*, *::after, *::before {
    box-sizing: border-box;
}

/* Globales */

[class$="__container"] {
    max-width: 160rem;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3 {
    margin: 0;
}
h1{ 
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* Utilidades */

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.text-center {
    text-align: center;
}


/* Header section */
.header {

}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header__image {
    width: 8rem;
}
/* nav */
.nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
    top: 7rem;
    width: 95%;
    color: black;
    background-color: #B1E1D1;

}
.nav.active {
    display: flex;
    flex-direction: column;


}
.nav__link {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem 0;
    
}
.nav__link:hover {
    background-color: #93D4CA;
    color: #fff;
    border-bottom: 2px solid #1F509A;
}
.nav__link:last-of-type {
    border-bottom: none;
}
.nav__link--sesion{
    margin: 0 1.2rem;
}

.nav__link--registro {
    background-color: #75C3C6;
    color: #000;
}
.menu__nav {
    cursor: pointer;
    transition-property: transform;
    transition-duration: 1s;
}

.menu__nav.rotate {
    transform: rotate(-320deg);
}

/* Hero Section */
.hero {

}
.hero__info {
    padding: 1.2rem;
    text-align: center;
    color: #fff;
    border-radius: .8rem;
    padding: 2rem;
    background-image: url(../IMG/herobg.png);
    background-position: center center;
}
.hero__title {
    color: #000;
    text-transform: uppercase;
}
.hero__span {
    color: #1F509A;
}
.hero__par {
    color: #000;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}
.hero__button {
    outline: 0;
    border: none;
    padding: 1rem 2rem;
    background-color: #3B7CA9;
    color: #fff;
    transition-property: transform;
    transition-duration: .4s;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .5rem;
    cursor: pointer;
}
.hero__button:hover {
    transform: scale(1.1);
}
.hero__image {

}
.hero__img {
    
}


/* main section */
.main__container {
}
.main__grid {

}
.main__info {
    text-align: left;
    padding: 1rem;

}
.main__title {
    color: #192E89;
}
.main__par {
    padding: 0 .2rem;
}
.main__images {
    display: none;
}

/* Product */
.product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    transition-property: transform;
    transition-duration: .5s;
    text-align: center;
    border-radius: .6rem;
    border: 1px solid #000;
}
.product__tit {
    text-align: center;
    margin: 1rem 0;
}
.product__img {
    margin-top: 1rem;
}
.product__image {
    transition-property: transform;
    transition-duration: .5s;
    width: 20rem;
    height: 20rem;
    display: block;

}
.product__image:hover {
    transform: scale(1.3);
}
.product__content {
    background-color: #b6d9f16e;
    width: 100%;
}
.product__title {
    font-size: 3.2rem;
    text-align: center;
    margin: 1.4rem 0;
}
.product__info {
    justify-content: space-around;
    width: 100%;
    padding: 0 1rem;
    color: #000;
}
.product__kg {

}
.product__price {
    font-weight: 900;
}


/* services Section */
.services__container {
    margin-top: 4rem;
}
.services__grid {

}
.services__card {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #75C3C6;
    color: #fff;
    border-radius: .8rem;
    transition-property: transform;
    transition-duration: .6s;
}
.services__card:hover {
    transform: scale(1.05);
}
.services__card:last-of-type {
    margin-bottom: none;
}
.card__info {
    padding: .6rem;
    height: 21rem;
}
.card__image {
    width: 6rem;
}
.card__title {
    font-size: 3.2rem;
    color: #000;
    font-weight: 900;
}
.card__par {
    color: #302929;
    font-weight: 500;
}

/* Map section */
.map {
    margin-top: 2rem;
}
.map__title {
    text-align: center;
    color: #192E89;
    margin-bottom: 2rem;
}
.map__container {
    max-width: 100%;
    margin: 0 auto;
}

.map__responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    overflow: hidden;
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
}

.map__show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer section */
.footer {
    margin-top: 5rem;

}
.footer__title {
    text-align: center;
    color: #192E89;
    padding: 2rem 0;

}
.footer__container {
    width: 80%;
    background-color: #252525;
    border-radius: 1rem;
    margin-bottom: 4rem;
    padding: 2rem;
}
.footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
.footer__label {
    padding: 1rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
}
.footer__input {
    padding: 1rem;
    outline: none;
    border: 1px solid #192E89;
}
.footer__input::placeholder {
    color: #192E89;
    opacity: .8;
}
.footer__input:focus {
    border: 2px solid #75C3C6;
}
.footer__textarea {
    outline: 0;
    border: 1px solid #192E89;
}
.footer__textarea::placeholder {
    color: #192E89;
    opacity: .8;
}
.footer__send {
    margin: 2rem 0;
    padding: .8rem;
    text-transform: uppercase;
    color: #192E89;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: .2rem;
}
.footer__send:hover {
    background-color: #192E89;
    color: #fff;
}


/* Media Querys */
@media (min-width: 768px ) {
    /* header */
    .menu__nav {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        position: inherit;
        background-color: transparent;

    }
    .nav__link:hover {
        color: black;
        border-radius: .6;
    }
    .nav__link:hover:last-of-type {
        border-bottom: 2px solid #192E89;
    }

    /* Hero */
    .hero__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .hero__image {
        text-align: center;
    }
    .hero__img {
        width: 88%;
        align-items: center;
        transition-property: transform;
        transition-duration: 1.2s;
    }
    .hero__img:hover {
        transform: scale(1.1) rotate(-10deg);
    }
    .hero__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__title {
    }
    .hero__par {
        font-size: 2.8rem;
    }



    /* main */
    .main__info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        align-items: center;
    }
    .main__title {
        font-size: 4.5rem;
    }
    .main__par {
        width: 60%;
        align-items: center;
        line-height: 1.4;
    }
    .main__images__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .main__images {
        width: 100%;
        height: 30rem;
        background-size: cover;
        display: inline-block;
        background-position: center center;
    }
    /* Prodcuts */
    .product__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .product__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }




    /* Services */
    .services__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    /* footer */
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__form {
        width: 70%;
        }

}

@media (min-width: 1024px) {
    .hero__img {
        width: 80%;
    }    
        /* Services */
        .services__grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax( 20rem, 40rem ));
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }
        .map__container {
            max-width: 70%;
            margin: 0 auto;
        }
        .hero__title {
            font-size: 5.2rem;
        }
        .hero__par {
            font-size: 3.2rem;
        }
        
    
}

/* user PAGE */

.user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1rem;
}

.user__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.user__container {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    gap: 2rem; /* Espaciado entre elementos */
}

.user__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem; /* Espaciado entre campos del formulario */
}

.user__label {
    font-size: 2.2rem;
}

.user__input {
    outline: none;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #B1E1D1;
    color: #000;
    font-size: 2.2rem;
}

.user__input::placeholder {
    color: #555;
}

.forgot {
    text-align: center;
    color: #fff;
}

.register__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem; /* Espaciado entre los textos y el botón */
}

.register__btn {
    padding: 2.5rem 4rem;
    background-color: #252525;
    color: #fff;
    border-radius: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
}
.home__btn {
    color: #fff;
}

.user__image {
    margin-top: 2rem;
    display: none;
}

.user__img {
    width: 100%;
    border-radius: 1rem;
}
.btn__up {
    position: fixed;
    right: 0;
    bottom: 0;

}
.btn__up img {
    width: 5rem;
}

/* Media Queries */
@media (min-width: 768px) {
    .user__title {
        font-size: 4rem;
    }
    .user__container {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem; 
    }

    .user__label,
    .user_input {
        font-size: 3rem;
    }
    .forgot,
    .register__parr {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .user__title {
        font-size: 7rem;
    }

    .user__form {
        flex: 1;
    }

    .user__image {
        display: block;
        flex: 1;
    }

    .user__container {
        max-width: 900px;
    }
    .btn__up {
        position: fixed;
        right: 0;
        bottom: 4rem;
    
    }
    .footer {
        margin-bottom: 5rem;
    }
}


/* .user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user__title {
    text-align: center;
}
.user__container {
    width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #192E89;
    background-color: #75C3C6;
    
}
.user__user,
.user__pass {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
} */


